#map {
  border-radius: 4px;
}

.main-page-diagnostic-container {
  max-width: 77%;
  margin: 100px auto;
}

.diagnostic-card {
  height: 300px;
  background-color: white;
  border-radius: 4px;
  display: flex;
  margin-bottom: 40px;
}

.marketplace-diagnostic-button {
  text-decoration: none;
  position: absolute;
  bottom: 24px;
  right: 42px;
  padding: 8px 16px;
  background-color: white;
  margin-top: 5px;
  border-radius: 2px;
  border: solid 1px #171c47;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #171c47;
  margin-bottom: 10px;
  transition: 0.3s;
  &:hover {
    background-color: #171c47;
    color: white;
  }
}

.marketplace-diagnostic-button-div {
  text-decoration: none;
  padding: 8px 16px;
  background-color: white;
  margin-top: 4px;
  border-radius: 2px;
  border: solid 1px #171c47;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #171c47;
  margin-bottom: 10px;
  transition: 0.3s;
  &:hover {
    background-color: #171c47;
    color: white;
  }
}

.map-marketplace {
  display: flex;
  justify-content: space-between;
  height: 400px;
  margin-top: 35px;
}

.diagnostic-show-page-map {
  width: 67%;
  background-color: white;
  border-radius: 4px;
}

.diagnostic-marketplace {
  width: 30%;
  background-color: white;
  border-radius: 4px;
  padding: 24px;
  h1, {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 32px;
  }
  p {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
    }
}

.diagnostic-card-image {
  margin: 16px;
  height: 280px;
  width: 280px;
  border-radius: 4px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.diagnostic-card-content {
  margin: 16px;
  flex-grow: 1;
  text-align: left;
  h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
  }
  p {
    color: black;
    font-family: 'Montserrat', sans-serif;
  }
}

.score-main-details {
  height: fit-content;
  background-color: white;
  border-radius: 4px;
  display: flex;
  margin-bottom: 35px;
  position: relative;
}

.diagnostix-index-title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.test-image {
    height: 330px;
    width: 380px;
    margin: 16px;
    border-radius: 4px;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

.test-details {
  margin: 16px;
  width: 70%;
  h2 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-bottom: solid 1px black;
    padding-bottom: 16px;
    margin-right: 32px;
    text-align: left;
  }
  p {
    text-align: left;
    color: black;
    font-family: 'Montserrat', sans-serif;
  }
}

.main-5-scores {
  display: flex;
  justify-content: space-between;
  .fas {
    color: white;
    font-size: 64px;
  }
}


.green-score {
  background-color: #4aa96c;
  width: 17%;
  border-radius: 4px;
  padding: 8px;
  margin: 0;
  .result-content {
    border-top: solid 1px white;
  }
  p {
    color: white;
    max-width: 100%;
  }
}

.yellow-score {
  background-color: #ffcb57;
  width: 17%;
  border-radius: 4px;
  padding: 8px;
  margin: 0;
  .result-content {
    border-top: solid 1px white;
  }
  p {
    color: white;
    max-width: 100%;
  }
}

.orange-score {
  background-color: #f7a440;
  width: 17%;
  border-radius: 4px;
  padding: 8px;
  margin: 0;
  .result-content {
    border-top: solid 1px white;
  }
  p {
    color: white;
    max-width: 100%;
  }
}

.red-score {
  background-color: #f55c47;
  width: 17%;
  border-radius: 4px;
  padding: 8px;
  margin: 0;
  .result-content {
    border-top: solid 1px white;
  }
  p {
    color: white;
    max-width: 100%;
  }
}

.cursor {
  cursor: pointer;
}
