// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500&display=swap');

.banner-image-container {
  height: 40rem;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  z-index: 3;
}

.banner-title {
  color: white;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 0;
  align-items: center;
  z-index: 3;
}

.banner-title-text {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

.banner-image {
  margin-bottom: 50px;
}

#main-banner {
  width: 87%;
  height: 50vh;
  margin: 0 auto;
  margin-top: 100px;
}

.banner-info {
  color: white;
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 150px;
  }
}

#slogan {
  width: 500px;
  h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    padding-left: 5%;
  }
}

#info-container {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  margin: 0 auto;
}

.content_container {
  margin: 20px;
}

.promo-block {
width: 300px;
height: 333px;
justify-content: space-between;
display: flex;
margin-bottom: 0;
padding: 30px;
flex-direction: column;
align-items: flex-start;
background-color: #EDEEF7;
box-shadow: 6px 6px 20px 0 rgba(0,0,0,.2);
border-radius: 15px;
}

.promo-text {
  width: 240px;
  height: 96px;
}

.das {
  font-size: 30px;
}

.fas {
width: auto;
font-size: 80px;
margin-bottom: 10px;
}

.search-container,
.cart-container {
  width: 76%;
  position: relative;
  margin: 100px auto;
  display: flex;
  padding: 50px;
  // background: rgba( 244, 240, 240, 0.15 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}

.search-container div {
  position: relative;
  display: inline-block;
  color: #03e9f4;
  font-size: 16px;
  transition: .6s;
  letter-spacing: 4px;
}

.search-container div span {
  position: absolute;
  display: block;
}

.search-container div span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #C0D5FF);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

// .search-container div span:nth-child(2) {
//   top: -100%;
//   right: 0;
//   width: 2px;
//   height: 200%;
//   background: linear-gradient(180deg, transparent, #C0D5FF);
//   animation: btn-anim2 1s linear infinite;
//   animation-delay: .25s
// }

// @keyframes btn-anim2 {
//   0% {
//     top: -100%;
//   }
//   50%,100% {
//     top: 100%;
//   }
// }

// .search-container div span:nth-child(3) {
//   bottom: 0;
//   right: -100%;
//   width: 100%;
//   height: 2px;
//   background: linear-gradient(270deg, transparent, #C0D5FF);
//   animation: btn-anim3 1s linear infinite;
//   animation-delay: .5s
// }

// @keyframes btn-anim3 {
//   0% {
//     right: -100%;
//   }
//   50%,100% {
//     right: 100%;
//   }
// }

.search-container div span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #C0D5FF);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.cart-container {
  // background: #b2ccfe;
  background: rgba(0, 0, 0, .35);
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  color: white;
  border-radius: 25px;
  padding: 50px;
  margin-top: 20vh;
}

.cart-container::after {
  content: "";
  opacity: 0.2;
  position: absolute;
  top: -45rem;
  left: -15rem;
  border-radius: 20px;
  width: 80%;
  height: 100rem;
  background: linear-gradient(to top, rgba(250, 69, 250, 80%), transparent);
  transform: skew(-20deg);
  z-index: -3;
}

.search-container::before {
  content: "";
  position: absolute;
  top: -20rem;
  left: 27rem;
  border-radius: 20px;
  width: 40%;
  height: 85rem;
  background: linear-gradient(to bottom, rgba(250, 69, 250, 0.5), transparent);
  transform: skew(-20deg);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.1);
  z-index: -2;
}

.search-container::after {
  content: "";
  position: absolute;
  top: -20rem;
  left: -15rem;
  border-radius: 20px;
  width: 80%;
  height: 100rem;
  background: linear-gradient(to bottom, rgba(29, 53, 86, 80%), transparent);
  transform: skew(-20deg);
  z-index: -3;
  transition: 1s;
}

#url-search {
  margin: 0 auto;
  width: 100%;
  height: 500px;
  h1 {
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 75px;
  }
}

.url-sign {
  width: 650px;
  padding-left: 24px;
  h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: white;
  }
}

#search-form {
  width: 100%;
  margin-top: 32px;
  padding: 18px;
  margin-left: 20px;
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.1);
    background: linear-gradient(to bottom, rgba(29, 53, 86, 80%), transparent);
  border-radius: 20px;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  transition: 600ms;
  form {
    color: #3c8dad;
  }
  input {
    padding: 20px;
    width: 80%;
  }
   .search-submit-button {
    text-decoration: none;
    border: none;
    padding: 8px;
    width: 150px;
    background: linear-gradient(to bottom, rgba(29, 53, 86, 80%), transparent);
    box-shadow:
    12px 12px 16px 0 rgba(0.25, 0.25, 0.25, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.1);
    transition: 3s;
  }

  .search-submit-button:active {
    box-shadow: 
      12px 12px 16px 0 rgba(100, 100, 100, 0.1) inset,
      -8px -8px 12px 0 rgba(0, 0, 0, .35) inset;
    transition: 2s;
    background: rgba(25, 69, 107, 0.3)
  }

  .search-bar {
    display: inline-flex;
  }
}

.news-container {
  width: 80%;
  margin: 150px auto;
  background-color: #EDEEF7;
  box-shadow: 6px 6px 0px 0 rgba(0,0,0,.2);
  border-radius: 15px;
  // border: solid 2px white;
}

.news-card {
  height: 550px;
  // box-shadow:
  //   12px 12px 16px 0 rgba(0.25, 0.25, 0.25, 0.25),
  //   -8px -8px 12px 0 rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  h1 {
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 75px;
  }
}

.img-news {
  margin-left: 17px;
  margin-right: 10px;
  margin-bottom: 7px;
  width: 175px;
  height: 130px;
  padding: 5px;
  border-radius: 15px;
 }

 .cyber-btn:hover .cyber-btn_btn:not(:hover) {
  filter: grayscale(100%);
    &::after {
      background-color: rgba(#000, 0.5);
    }
 }

.cyber-btn_btn {
  cursor: pointer;
  transition: .3s;
  position: relative;


  &::after {
    content: '';
    position: absolute;
    left: 17px;
    width: 175px;
    height: 130px;
    background-color: rgba(#000, 0);
    transition: .3s;
    border-radius: 15px;
  }
}

.footer {
  padding: 32px;
  border-top: solid 1px white;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  .fab {
    font-size: 32px;
    transition: 0.2s ease-in-out;
    margin-right: 6px;
    margin-top: 6px;
    &:hover {
      transform: scale(1.2);
    }
  }
}
