// Import page-specific CSS files here.
@import "home";
@import "diagnostic-show";
@import "diagnostic";
@import "log-in";
@import "product-show";

body {
  // background-color: #000;
  // background-color: #101D21;
  background-color: #020632;
  overflow-x: hidden;
}

.main-page-container {
  max-width: 77%;
  height: 90vh;
  margin: 100px auto;
  z-index: 20;
  // border: 3px solid red;
  padding: 30px 30px;
  // background-color: #47597e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 60%;

}
