.showpage-product-container {
  flex-grow: 1;
  // background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  color: white !important;
  min-height: 100vh;
}

.showpage-product-page-card-image {
  max-height: 100%;
  max-width: 40%;
  border-radius: 8px;
  margin: 16px;
  img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px;
  }
}

.showpage-product-page-card-content {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  width: 50%;
  padding-top: 4px;
  margin-left: 30px;
  margin-top: 5px;
  p {
    margin-right: 0px;
    width: 70%;
  }
}

.showpage-product-page-card-container {
  display: flex;
  width: 100%;
  position: relative;
  p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 100%;
  }
  h2{
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 8px;
  }
}



.showpage-product-price {
  // position: absolute;
  bottom: 32px;
  right: 160px;
  text-decoration: none;
  h4 {
    right: 30px;
    margin: 0;
    padding: 2px;
    color: #454545;
    font-family: 'Montserrat'
  }
}

#showpage-index-add {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 25%;
  // position: absolute;
  text-decoration: none;
  margin: 0;
  // padding: 8px 16px;
  background-color: #ffc659;
  color: white;
  border-radius: 2px;
  &:hover {
    background-color: #ffc419;
  }
}

.testimonial-heading {
  // margin: 0px;
  // padding: 0px;
  // box-sizing: border-box;
  border-top: 2px solid whitesmoke;
  margin-top: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  h2 {
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

span {
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.testimonial-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  padding-bottom: 30px;
}

.testimonial-box {
  width: 700px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong{
  color: black;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-user span {
  color: #979797;
  font-size: 0.8rem;
  align-items: unset;
}


.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.fa-star {
  color: #f9d71c;
  font-size: 25px;
}

// .box-top {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-top: 20px;
// }

.client-comment p {
  font-size: 0.9rem;
  color: #4b4b4b;
}

.testimonial-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3;
}

.div-left{
  display:flex;
}

.div-right{
  flex-grow: 1;
  margin-left: 60px;
}









