<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content" id="popup">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Gdpr Compliance</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
            <h4>PRIVACY POLICY</h4>
            <p>Article 13 of GDPR requires data controller to provide a conspicuously visible notice to data subjects when collecting their personal data including but not limited to data collected by web applications.</p>
        </div>
        <div>
            <h4>WEBSITE SECURITY</h4>
            <p>Article 5(1)(f), Article 24(1) and Article 32 of GDPR require implementation, testing and maintenance of adequate security controls to protect personal data. EDPB guidelines provide further technical details and examples including, among other things, maintenance of up2date web application software and regular website security testing.</p>
        </div>
        <div>
            <h4>TLS ENCRYPTION</h4>
            <p>Article 32 of GDPR requires implementation of adequate protection of processed personal data including, among other things, encryption of personal data while at rest or in transit. This applies to web applications when personal data is being sent or retrieved via a browser or API.</p>
        </div>
        <div>
            <h4>COOKIE PROTECTION</h4>
            <p>Article 32 of GDPR requires implementation of adequate protection of processed personal data including, among other things, encryption of personal data while at rest or in transit. This applies to cookies when they contain personal data or identifiers attributable to data subjects.</p>
        </div>
        <div>
            <h4>COOKIE DISCLAIMER</h4>
            <p>In addition to Article 13 of GDPR, the EU ePrivacy Directive requires website operators to obtain an informed data subject’s consent prior to setting any cookies except strictly necessary cookies.</p>
        </div>

       




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
