<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content" id="popup">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">PCI DSS Compliance Test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
            <h4>REQUIREMENT</h4>
            <p>Ensure that all system components and software are protected from known vulnerabilities by installing applicable vendor supplied security patches. Install critical security patches within one month of release.</p>
            <p>Address common coding vulnerabilities in software-development processes as follows:<br> 1) Train developers at least annually in upto-date secure coding techniques, including how to avoid common coding vulnerabilities; <br> 2) Develop applications based on secure coding guidelines.</p>
            <p>The requirement for reviewing applications or installing web-application firewalls is intended to reduce the number of compromises on public-facing web applications due to poor coding or application management practices.</p>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
