<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content" id="popup">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Web Application Firewall Test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
            
            <h4><strong>WAF (Web application Firewal)</strong> protects against malicious attacks, such as: </h4>
               <h5>
                <strong>SQL injection </strong>– a hacking technique used to extract sensitive information from a database.
               </h5> 
              <h5>
                <strong>Malicious file execution</strong> – a harmful technique which allows a person to execute code remotely after a user accepts a malicious file.
              </h5>
              <h5>
                <strong>Cross-site scripting</strong> – when malicious script is injected into the code of an otherwise trusted website, allowing potentially sensitive user data such as cookies to be accessed.
              </h5>
             
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
