<div class="footer">
  <div>Contact us</div>
   <div class="icons">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram-square"></i>
    <i class="fab fa-twitter-square"></i>
  </div>
  <br>
  <div>© 2021 Diagnode, Inc · Privacy · Terms · Sitemap · UK Modern Slavery Act · Company details
  </div>
</div>
