<div id="search-form">
  <%= simple_form_for @diagnostic do |f| %>
    <div>
      <%= f.input :tested_url, placeholder: "http://website.com" %>
    </div>
    <div>
      <%= f.submit value: 'Start', class: "btn btn-light search-submit-button" %>
    </div>
  <% end %>
</div>
