<form class="search-navbar-container" method="get" action="/diagnostics">


      <div class="search-nav-col-1">
        <label class="search-nav-title">Website URL...</label>
        <input class="search-nav-desc" type="text" name="url" placeholder="Website URL...">
      </div>
    
        <div class="col-3">
          <button type="submit" class="fas fa-search pink-icon-lg"></button>
        </div>
      </div>
    </form>