<div id="search-form">
  <%= simple_form_for @diagnostic do |f| %>
    <div>
      <%= f.input :tested_url, placeholder: "http://google.com" %>
    </div>
    <div>
      <%= f.submit value: 'Run', class: "btn text-white search-submit-button" %>
    </div>
  <% end %>
</div>
