<% content_for :meta_title, "Diagnode" %>
<% content_for :meta_description, "Beautiful website" %>


<%= render 'shared/navbar' %>

<div class="main-page-container">

  <div class="search-container">
  <div>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div id="url-search">
        <div>
          <h1 class="text-white font-weight-bolder">Diagnode</h1>
          <div class="url-sign">
            <h4>An online vulnerability <strong>scanner</strong> that finds cyber security <strong>weaknesses</strong> in your digital infrastructure, to <strong>avoid</strong> costly data breaches.</h4>
            <br>
            <h4>Insert your URL below.</h4>
          </div>
        </div>
        <div>
          <%= render "shared/searchurl" %>
        </div>
      </div>

  </div>
    </div>
</div>

<div class="banner-image-container">
<div class="trigger2"></div>
<h1 class="text-white banner-title-text mb-5 pb-2">
  How it Works
  </h1>
  <div id="info-container">

    <div class="content_container">
      <div class="promo-block security trigger_card1">
        <div class="promo-inner block">
          <i class="fas fa-briefcase promo-icons"></i>

          <h3 class="header-small">Optimise</h3>
          <div class="promo-text">
            Protect your business against data breaches and increase customer trust with continous
          </div>
          <br>
          <button type="button" class="btn promo-btn shadow-sm">Read more</button>
        </div>
      </div>
    </div>

    <div class="content_container">
      <div class="promo-block security trigger_card2">
        <div class="promo-inner block">
          <i class="fas fa-file-code promo-icons"></i>

          <h3 class="header-small">Initialise</h3>
          <div class="promo-text">
            We provide a personalised list of trusted and vetted cyber security developers for your needs
          </div>
          <br>
          <button type="button" class="btn promo-btn shadow-sm">Read more</button>
        </div>
      </div>
    </div>

    <div class="content_container">
      <div class="promo-block security trigger_card3">
        <div class="promo-inner block">
          <i class="fas fa-space-shuttle promo-icons"></i>

          <h3 class="header-small">Prioritise</h3>
          <div class="promo-text">
            Save time by focusing on what truly matters, and reduce friction with development processes
          </div>
          <br>
          <button type="button" class="btn promo-btn shadow-sm">Read more</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="banner-title">
  <h1 class="text-white banner-title-text">
  Live Threat Map
  </h1>
</div>
<div class="trigger1"></div>
<div id="chartdiv"></div>


<div class="container_scroll">
<!--    <h1>Timeline</h1> -->
   <div class="intro">
      <h1>Cybersecurity News</h1>
   </div>
   <div class="intro2">
      <h1></h1>
   </div>
   <div class="horizontal-timeline">
      <div class="opacity-overlay"></div>
      <div class="timeline">
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/ransomware-attackers-partnering-with.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-PyHRfh5C1U4/YMm3DZVaUiI/AAAAAAAAC4g/MQF3iSnp_V8hxQIvTh89j467z2HlG4O8ACLcBGAsYHQ/s0/russian-ransomware-hackers.jpg')"></div>
            </a>
            <p class="date">June 16, 2021</p>
            <p>
               Ransomware Attackers Partnering With Cybercrime Groups to Hack High-Profile Targets
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/ransomware-attackers-partnering-with.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/critical-throughtek-flaw-opens-millions.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-JvsQDm5-TtQ/YMmVOUVdraI/AAAAAAAAC4A/GMDTo5itByQFDvOVL4lxuR_A3Vo0S-XpgCLcBGAsYHQ/s0/ThroughTek.jpg')"></div>
            </a>
            <p class="date">June 16, 2021</p>
            <p>
              Critical ThroughTek Flaw Opens Millions of Connected Cameras to Eavesdropping
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/critical-throughtek-flaw-opens-millions.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/experts-shed-light-on-distinctive.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-lGWHNfmcyYY/YMilZk6VoHI/AAAAAAAAC34/8UHTJNHiT_kxOG2PS7o29V6PklnqUnuFgCLcBGAsYHQ/s0/ransomware.png')"></div>
            </a>
            <p class="date">June 15, 2021</p>
            <p>
               Experts Shed Light On Distinctive Tactics Used by Hades Ransomware
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/experts-shed-light-on-distinctive.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/instagram-bug-allowed-anyone-to-view.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/--tg9Zql1Sj8/YMiK29W-lhI/AAAAAAAAC3g/Q0rBpljVTAIv2UF8PwGUI6xASVrKf8VJwCLcBGAsYHQ/s0/Instagram-Data-Breach.png')"></div>
            </a>
            <p class="date">June 15, 2021</p>
            <p>
               Instagram‌ ‌Bug Allowed Anyone to View Private Accounts Without Following Them
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/instagram-bug-allowed-anyone-to-view.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/apple-issues-urgent-patches-for-2-zero.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-EY0jLibkpcU/YMgfQajFNQI/AAAAAAAAC3I/EIU5a5Wq51o-5TvSYm6aKt_vlbbskE6UACLcBGAsYHQ/s0/apple-zero-day.png')"></div>
            </a>
            <p class="date">June 15, 2021</p>
            <p>
               Apple Issues Urgent Patches for 2 Zero-Day Flaws Exploited in the Wild
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/apple-issues-urgent-patches-for-2-zero.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/google-workspace-now-offers-client-side.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-NxWuWoiQhZw/YMdjHsFT_rI/AAAAAAAAC3A/RrhCTZ3hD28sMe9EOx38HZH8nJ91JxwkwCLcBGAsYHQ/s0/google-workspace-encryption.jpg')"></div>
            </a>
            <p class="date">June 14, 2021</p>
            <p>
               Google Workspace Now Offers Client-side Encryption For Drive and Docs
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/google-workspace-now-offers-client-side.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/noxplayer-supply-chain-attack-is-likely.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-2P9JF1_9yIc/YMdax55TYnI/AAAAAAAAC2o/YR05yeE9O-8JHf9oekreAzoMGSYXbsdlwCLcBGAsYHQ/s0/suppply-chain-cyberattack.jpg')"></div>
            </a>
            <p class="date">June 14, 2021</p>
            <p>
               NoxPlayer Supply-Chain Attack is Likely the Work of Gelsemium Hackers
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/noxplayer-supply-chain-attack-is-likely.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/cybersecurity-executive-order-2021-what.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-aoEiUjhx10o/YMcFVEuJ92I/AAAAAAAABDE/W0QMvqc85FQmywqdG0Xg8aEW-UM4UddtACLcBGAsYHQ/s0/cyber.jpg')"></div>
            </a>
            <p class="date">June 14, 2021</p>
            <p>
               Cybersecurity Executive Order 2021: What It Means for Cloud and SaaS Security
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/cybersecurity-executive-order-2021-what.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/chinese-hackers-believed-to-be-behind.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-WEcciQfdN6Q/YMb6kpF-4sI/AAAAAAAAC2Q/zIZFPdmzXxktCs57dBmUSyFJ3Fxdar8JACLcBGAsYHQ/s0/hackers.jpg')"></div>
            </a>
            <p class="date">June 13, 2021</p>
            <p>
               Chinese Hackers Believed to be Behind Second Cyberattack on Air India
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/chinese-hackers-believed-to-be-behind.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/mozilla-says-googles-new-ad.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-_2KptrvZkAg/YMNhYc21LKI/AAAAAAAAC2I/9oaWNzffJ3UQSaNEZPaN2COPjte0a4aZwCLcBGAsYHQ/s0/google-floc.jpg')"></div>
            </a>
            <p class="date">June 11, 2021</p>
            <p>
               Mozilla Says Google's New Ad Tech—FLoC—Doesn't Protect User Privacy
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/mozilla-says-googles-new-ad.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/hackers-can-exploit-samsung-pre.html" target="_blank_">
               <div class="image" style="background-image: url('https://www.bleepstatic.com/content/hl-images/2021/01/18/Phone-Call.jpg')"></div>
            </a>
            <p class="date">June 11, 2021</p>
            <p>
               Hackers Can Exploit Samsung Pre-Installed Apps to Spy On Users Privacy
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/hackers-can-exploit-samsung-pre.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/live-cybersecurity-webinar.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-Zz_qkQvOKmI/YMMaH3CKAeI/AAAAAAAAC1g/TJugqaQIgIEB41DmdWWzfSFA8hFZ6idNACLcBGAsYHQ/s0/cynet.jpg')"></div>
            </a>
            <p class="date">June 11, 2021</p>
            <p>
               Live Cybersecurity Webinar — Deconstructing The Cobalt Strike with Elon Musk
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/live-cybersecurity-webinar.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/7-year-old-polkit-flaw-lets.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-szO1rPyr148/YMMS6mQDSJI/AAAAAAAAC1Q/dxz_XWn-9M0w7Z78ShUKaPdWj4_p1GGsgCLcBGAsYHQ/s0/root.jpg')"></div>
            </a>
            <p class="date">June 11, 2021</p>
            <p>
               7-Year-Old Polkit Flaw Lets Unprivileged Linux Users Gain Root Access
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/7-year-old-polkit-flaw-lets.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/new-cyber-espionage-group-targeting.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-Dtzc9yz6RbM/YMMKHm4Kx-I/AAAAAAAAC1I/WYDMtfEjbWsxxIw0vYe_MVWM-NM6RyBbwCLcBGAsYHQ/s0/ukraine-russia-hacking.png')"></div>
            </a>
            <p class="date">June 11, 2021</p>
            <p>
               New Cyber Espionage Group Targeting Ministries of Foreign Affairs
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/new-cyber-espionage-group-targeting.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/us-authorities-shut-down-slilpplargest.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-DePRd_St8uw/YMLnK7r5qJI/AAAAAAAAC0g/tXWvKenWSR8BQdZQVraKpznzNTwnD-_HQCLcBGAsYHQ/s0/fbi.jpg')"></div>
            </a>
            <p class="date">June 10, 2021</p>
            <p>
               U.S. Authorities Shut Down Slilpp—Largest Marketplace for Stolen Logins
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/us-authorities-shut-down-slilpplargest.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/using-breached-password-detection.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-BZHWSbxVJoo/YMD4DtB--_I/AAAAAAAABC8/nQNhj86czWgTZ0HYuy6-rVl_HsTaoqVygCLcBGAsYHQ/s0/data-breach-protection.jpg')"></div>
            </a>
            <p class="date">June 10, 2021</p>
            <p>
               Using Breached Password Detection Services to Prevent Cyberattack
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/using-breached-password-detection.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/beef-supplier-jbs-paid-hackers-11.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-JrOUH3yXggo/YMGmb4hmp5I/AAAAAAAAC0A/LCwy7IhUqPUNJ04fC_f0v59XNnGVB3M5gCLcBGAsYHQ/s0/jbs-ransomware-attack.jpg')"></div>
            </a>
            <p class="date">June 09, 2021</p>
            <p>
               Beef Supplier JBS Paid Hackers $11 Million Ransom After Cyberattack In January
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/beef-supplier-jbs-paid-hackers-11.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/new-chrome-0-day-bug-under-active.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/--v2cn8JGV00/YMGRd9cFvrI/AAAAAAAACz4/i5Stk6m4GEgwbul82T6lZeEbdMMNfofJQCLcBGAsYHQ/s0/chrome-zero-day-vulnerability.jpg')"></div>
            </a>
            <p class="date">June 9, 2021</p>
            <p>
               New Chrome 0-Day Bug Under Active Attacks – Update Your Browser ASAP!
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/new-chrome-0-day-bug-under-active.html" target="_blank_">Learn more</a>
         </div>
         
      </div>
   </div>
</div>















