
<div class="main-page-container">

  <div class="search-container">
      <div id="url-search">
        <div>
          <h1 class="text-white">Diagnode</h1>
          <div class="url-sign ">
            <h4><strong>Diagnode</strong> is an online vulnerability <strong>scanner</strong> that finds cyber security <strong>weaknesses</strong> in your digital infrastructure, to <strong>avoid</strong> costly data breaches.</h4>
            <br>
            <h4>Insert your URL below.</h4>
          </div>
        </div>
        <div>
          <%= render "shared/searchurl" %>
        </div>
      </div>
    </div>
</div>

<div class="banner-image-container">
  <div class="banner-image">
    <%= image_tag("undraw_Security_on_re_e491-removebg.png", size: "750x500", alt: "Edit Entry") %>
  </div>
  <div id="info-container">
    <div class="content_container">
      <div class="promo-block security">
        <div class="promo-inner block">
          <i class="fas fa-briefcase"></i>

          <h3 class="header-small">Small Business</h3>
          <div class="promo-text">
            Prevent data breaches and increase customer trust with continous cyber protection
          </div>
          <br>
          <button type="button" class="btn btn-info shadow-sm">Read more</button>
        </div>
      </div>
    </div>

    <div class="content_container">
      <div class="promo-block security">
        <div class="promo-inner block">
          <i class="fas fa-file-code"></i>

          <h3 class="header-small">Developers</h3>
          <div class="promo-text">
            Build safer applications by integrating cyber security into your software development cycle
          </div>
          <br>
          <button type="button" class="btn btn-info shadow-sm">Read more</button>
        </div>
      </div>
    </div>

    <div class="content_container">
      <div class="promo-block security">
        <div class="promo-inner block">
          <i class="fas fa-space-shuttle"></i>

          <h3 class="header-small">Security Teams</h3>
          <div class="promo-text">
            Save time by focusing on what truly matters, and reduce friction with development processes
          </div>
          <br>
          <button type="button" class="btn btn-info shadow-sm">Read more</button>
        </div>
      </div>
    </div>
  </div>

</div>


    <div class="news-container">
      <div class="news-card">
        <h1>Cyber News</h1>
        <div class="news-sign">
          <h4>Learn more about cyber security, read some articles.</h4>
        </div>
      </div>
    </div>



<div class="footer">
  <div>Contact us</div>
   <div class="icons">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram-square"></i>
    <i class="fab fa-twitter-square"></i>
  </div>
  <br>
  <div>© 2021 Diagnode, Inc · Privacy · Terms · Sitemap · UK Modern Slavery Act · Company details
  </div>
</div>






























