<%= render 'shared/navbar' %>


<div class="main-page-container">

  <div class="search-container">
  <div>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div id="url-search">
        <div>
          <h1 class="text-white font-weight-bolder">Diagnode</h1>
          <div class="url-sign">
            <h4>An online vulnerability <strong>scanner</strong> that finds cyber security <strong>weaknesses</strong> in your digital infrastructure, to <strong>avoid</strong> costly data breaches.</h4>
            <br>
            <h4>Insert your URL below.</h4>
          </div>
        </div>
        <div>
          <%= render "shared/searchurl" %>
        </div>
      </div>

  </div>
    </div>
</div>

<div id="chartdiv"></div>
<div class="banner-title">
  <h1 class="text-white banner-title-text">
  Live Threat Map
  </h1>
</div>

<div class="banner-image-container">

  <div id="info-container">

    <div class="content_container">
      <div class="overlay"></div>
      <div class="promo-block security">
        <div class="promo-inner block">
          <i class="fas fa-briefcase promo-icons"></i>

          <h3 class="header-small">Small Business</h3>
          <div class="promo-text">
            Prevent data breaches and increase customer trust with continous cyber protection
          </div>
          <br>
          <button type="button" class="btn promo-btn btn-outline-light shadow-sm">Read more</button>
        </div>
      </div>
    </div>

    <div class="content_container">
      <div class="overlay"></div>
      <div class="promo-block security">
        <div class="promo-inner block">
          <i class="fas fa-file-code promo-icons"></i>

          <h3 class="header-small">Developers</h3>
          <div class="promo-text">
            Build safer applications by integrating cyber security into your software development cycle
          </div>
          <br>
          <button type="button" class="btn promo-btn btn-outline-light shadow-sm">Read more</button>
        </div>
      </div>
    </div>

    <div class="content_container">
      <div class="overlay"></div>
      <div class="promo-block security">
        <div class="promo-inner block">
          <i class="fas fa-space-shuttle promo-icons"></i>

          <h3 class="header-small">Security Teams</h3>
          <div class="promo-text">
            Save time by focusing on what truly matters, and reduce friction with development processes
          </div>
          <br>
          <button type="button" class="btn promo-btn btn-outline-light shadow-sm">Read more</button>
        </div>
      </div>
    </div>
  </div>

</div>

<section class="news-container">
  <h1><strong>Cybersecurity Updates</strong></h1>

<div class="services">
        <div class="serviceBox">
            <div class="serviceBoxInner">
              <a href="https://www.bbc.co.uk/news/technology-57431987", target="_blank">
                <p>EA: Gaming giant hacked and source code stolen</p>
              </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
              <a href="https://www.bbc.co.uk/news/uk-england-tees-57433800", target="_blank">
              <p>Cost of Redcar Council cyber-attack over-estimated</p>
              </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
              <a href="https://www.bbc.co.uk/news/world-us-canada-57338896", target="_blank">
              <p>JBS: FBI says Russia-linked group hacked meat supplier</p>
              </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
              <a href="https://www.bbc.co.uk/news/technology-57173096", target="_blank">
                <p>Ransomware: Should paying hacker ransoms be illegal?</p>
              </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
              <a href="https://www.bbc.co.uk/news/business-57178503", target="_blank">
                <p>Cyber-attack hackers threaten to share US police informant data</p>              
              </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/business-57112371", target="_blank">
                <p>US fuel pipeline 'paid hackers $5m in ransom'</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
              <a href="https://www.bbc.co.uk/news/technology-57012725", target="_blank">
                <p>Spy bosses warn of cyber-attacks on smart cities</p>              
              </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
              <a href="https://www.bbc.co.uk/news/technology-57156799", target="_blank">
                <p>'Did weak wi-fi password lead the police to our door?'</p>              
              </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/world-asia-india-57210118", target="_blank">
                <p>Air India cyber-attack: Data of millions of customers compromised</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/world-us-canada-56898711", target="_blank">
                <p>Colonial Pipeline boss confirms $4.4m ransom payment</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/technology-56372188", target="_blank">
                <p>Microsoft hack: 3,000 UK email servers remain unsecured</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/technology-56859091", target="_blank">
                <p>Flubot: Warning over major Android 'package delivery' scam</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/technology-56650387", target="_blank">
                <p>Tool checks phone numbers from Facebook data breach</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/technology-56812746", target="_blank">
                <p>MI5 warns of spies using LinkedIn to trick staff into spilling secrets</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/technology-56429204", target="_blank">
                <p>Teen 'mastermind' pleads guilty to celeb Twitter hack</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
    </div>
</section>



























