<%= render 'shared/navbar' %>


<div class="main-page-container">

  <div class="search-container">
  <div>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div id="url-search">
        <div>
          <h1 class="text-white font-weight-bolder">Diagnode</h1>
          <div class="url-sign">
            <h4>An online vulnerability <strong>scanner</strong> that finds cyber security <strong>weaknesses</strong> in your digital infrastructure, to <strong>avoid</strong> costly data breaches.</h4>
            <br>
            <h4>Insert your URL below.</h4>
          </div>
        </div>
        <div>
          <%= render "shared/searchurl" %>
        </div>
      </div>

  </div>
    </div>
</div>

<div class="trigger1"></div>
<div id="chartdiv"></div>
<div class="banner-title">
  <h1 class="text-white banner-title-text">
  Live Threat Map
  </h1>
</div>



<div class="banner-image-container">
<div class="trigger2"></div>

  <div id="info-container">

    <div class="content_container">
      <div class="overlay"></div>
      <div class="promo-block security">
        <div class="promo-inner block">
          <i class="fas fa-briefcase promo-icons"></i>

          <h3 class="header-small">Small Business</h3>
          <div class="promo-text">
            Prevent data breaches and increase customer trust with continous cyber protection
          </div>
          <br>
          <button type="button" class="btn promo-btn btn-outline-light shadow-sm">Read more</button>
        </div>
      </div>
    </div>

    <div class="content_container">
      <div class="overlay"></div>
      <div class="promo-block security">
        <div class="promo-inner block">
          <i class="fas fa-file-code promo-icons"></i>

          <h3 class="header-small">Developers</h3>
          <div class="promo-text">
            Build safer applications by integrating cyber security into your software development cycle
          </div>
          <br>
          <button type="button" class="btn promo-btn btn-outline-light shadow-sm">Read more</button>
        </div>
      </div>
    </div>

    <div class="content_container">
      <div class="overlay"></div>
      <div class="promo-block security">
        <div class="promo-inner block">
          <i class="fas fa-space-shuttle promo-icons"></i>

          <h3 class="header-small">Security Teams</h3>
          <div class="promo-text">
            Save time by focusing on what truly matters, and reduce friction with development processes
          </div>
          <br>
          <button type="button" class="btn promo-btn btn-outline-light shadow-sm">Read more</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container_scroll">
<!--    <h1>Timeline</h1> -->
   <div class="intro">
      <h1>Cybersecurity News</h1>
   </div>
   <div class="intro2">
      <h1></h1>
   </div>
   <div class="horizontal-timeline">
      <div class="opacity-overlay"></div>
      <div class="timeline">
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/ransomware-attackers-partnering-with.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-PyHRfh5C1U4/YMm3DZVaUiI/AAAAAAAAC4g/MQF3iSnp_V8hxQIvTh89j467z2HlG4O8ACLcBGAsYHQ/s0/russian-ransomware-hackers.jpg')"></div>
            </a>
            <p class="date">June 16, 2021</p>
            <p>
               Ransomware Attackers Partnering With Cybercrime Groups to Hack High-Profile Targets
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/ransomware-attackers-partnering-with.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/critical-throughtek-flaw-opens-millions.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-JvsQDm5-TtQ/YMmVOUVdraI/AAAAAAAAC4A/GMDTo5itByQFDvOVL4lxuR_A3Vo0S-XpgCLcBGAsYHQ/s0/ThroughTek.jpg')"></div>
            </a>
            <p class="date">June 16, 2021</p>
            <p>
              Critical ThroughTek Flaw Opens Millions of Connected Cameras to Eavesdropping
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/critical-throughtek-flaw-opens-millions.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/experts-shed-light-on-distinctive.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-lGWHNfmcyYY/YMilZk6VoHI/AAAAAAAAC34/8UHTJNHiT_kxOG2PS7o29V6PklnqUnuFgCLcBGAsYHQ/s0/ransomware.png')"></div>
            </a>
            <p class="date">June 15, 2021</p>
            <p>
               Experts Shed Light On Distinctive Tactics Used by Hades Ransomware
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/experts-shed-light-on-distinctive.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/instagram-bug-allowed-anyone-to-view.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/--tg9Zql1Sj8/YMiK29W-lhI/AAAAAAAAC3g/Q0rBpljVTAIv2UF8PwGUI6xASVrKf8VJwCLcBGAsYHQ/s0/Instagram-Data-Breach.png')"></div>
            </a>
            <p class="date">June 15, 2021</p>
            <p>
               Instagram‌ ‌Bug Allowed Anyone to View Private Accounts Without Following Them
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/instagram-bug-allowed-anyone-to-view.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/apple-issues-urgent-patches-for-2-zero.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-EY0jLibkpcU/YMgfQajFNQI/AAAAAAAAC3I/EIU5a5Wq51o-5TvSYm6aKt_vlbbskE6UACLcBGAsYHQ/s0/apple-zero-day.png')"></div>
            </a>
            <p class="date">June 15, 2021</p>
            <p>
               Apple Issues Urgent Patches for 2 Zero-Day Flaws Exploited in the Wild
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/apple-issues-urgent-patches-for-2-zero.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/google-workspace-now-offers-client-side.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-NxWuWoiQhZw/YMdjHsFT_rI/AAAAAAAAC3A/RrhCTZ3hD28sMe9EOx38HZH8nJ91JxwkwCLcBGAsYHQ/s0/google-workspace-encryption.jpg')"></div>
            </a>
            <p class="date">June 14, 2021</p>
            <p>
               Google Workspace Now Offers Client-side Encryption For Drive and Docs
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/google-workspace-now-offers-client-side.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/noxplayer-supply-chain-attack-is-likely.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-2P9JF1_9yIc/YMdax55TYnI/AAAAAAAAC2o/YR05yeE9O-8JHf9oekreAzoMGSYXbsdlwCLcBGAsYHQ/s0/suppply-chain-cyberattack.jpg')"></div>
            </a>
            <p class="date">June 14, 2021</p>
            <p>
               NoxPlayer Supply-Chain Attack is Likely the Work of Gelsemium Hackers
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/noxplayer-supply-chain-attack-is-likely.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/cybersecurity-executive-order-2021-what.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-aoEiUjhx10o/YMcFVEuJ92I/AAAAAAAABDE/W0QMvqc85FQmywqdG0Xg8aEW-UM4UddtACLcBGAsYHQ/s0/cyber.jpg')"></div>
            </a>
            <p class="date">June 14, 2021</p>
            <p>
               Cybersecurity Executive Order 2021: What It Means for Cloud and SaaS Security
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/cybersecurity-executive-order-2021-what.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/chinese-hackers-believed-to-be-behind.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/2021/06/chinese-hackers-believed-to-be-behind.html')"></div>
            </a>
            <p class="date">June 13, 2021</p>
            <p>
               Chinese Hackers Believed to be Behind Second Cyberattack on Air India
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/chinese-hackers-believed-to-be-behind.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/mozilla-says-googles-new-ad.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-_2KptrvZkAg/YMNhYc21LKI/AAAAAAAAC2I/9oaWNzffJ3UQSaNEZPaN2COPjte0a4aZwCLcBGAsYHQ/s0/google-floc.jpg')"></div>
            </a>
            <p class="date">June 11, 2021</p>
            <p>
               Mozilla Says Google's New Ad Tech—FLoC—Doesn't Protect User Privacy
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/mozilla-says-googles-new-ad.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/hackers-can-exploit-samsung-pre.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-yd4T8jEVul0/YMMqhZ2sbUI/AAAAAAAAC1w/WobGQX3-QTU6I5Anpg3qSiqPutZMqDUKQCLcBGAsYHQ/s728/samsung-mobile-hacking.jpg')"></div>
            </a>
            <p class="date">June 11, 2021</p>
            <p>
               Hackers Can Exploit Samsung Pre-Installed Apps to Spy On Users
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/hackers-can-exploit-samsung-pre.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="https://thehackernews.com/2021/06/live-cybersecurity-webinar.html" target="_blank_">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-Zz_qkQvOKmI/YMMaH3CKAeI/AAAAAAAAC1g/TJugqaQIgIEB41DmdWWzfSFA8hFZ6idNACLcBGAsYHQ/s0/cynet.jpg')"></div>
            </a>
            <p class="date">June 11, 2021</p>
            <p>
               Live Cybersecurity Webinar — Deconstructing Cobalt Strike
            </p>
            <a class="learn-more" href="https://thehackernews.com/2021/06/live-cybersecurity-webinar.html" target="_blank_">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="#0">
               <div class="image" style="background-image: url('https://thehackernews.com/images/-szO1rPyr148/YMMS6mQDSJI/AAAAAAAAC1Q/dxz_XWn-9M0w7Z78ShUKaPdWj4_p1GGsgCLcBGAsYHQ/s0/root.jpg')"></div>
            </a>
            <p class="date">May 3, 2019</p>
            <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique dolore vel laboriosam itaque quaerat dignissimos at ipsa sunt nisi consectetur.
            </p>
            <a class="learn-more" href="#0">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="#0">
               <div class="image" style="background-image: url('https://ichef.bbci.co.uk/news/976/cpsprodpb/12900/production/_118123067_faceoff.jpg')"></div>
            </a>
            <p class="date">May 3, 2019</p>
            <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique dolore vel laboriosam itaque quaerat dignissimos at ipsa sunt nisi consectetur.
            </p>
            <a class="learn-more" href="#0">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="#0">
               <div class="image" style="background-image: url('https://ichef.bbci.co.uk/news/976/cpsprodpb/668A/production/_117605262_hackertwittere-1.png')"></div>
            </a>
            <p class="date">May 3, 2019</p>
            <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique dolore vel laboriosam itaque quaerat dignissimos at ipsa sunt nisi consectetur.
            </p>
            <a class="learn-more" href="#0">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="#0">
               <div class="image" style="background-image: url('https://source.unsplash.com/random/?technology')"></div>
            </a>
            <p class="date">May 3, 2019</p>
            <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique dolore vel laboriosam itaque quaerat dignissimos at ipsa sunt nisi consectetur.
            </p>
            <a class="learn-more" href="#0">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="#0">
               <div class="image" style="background-image: url('https://source.unsplash.com/random/?technology')"></div>
            </a>
            <p class="date">May 3, 2019</p>
            <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique dolore vel laboriosam itaque quaerat dignissimos at ipsa sunt nisi consectetur.
            </p>
            <a class="learn-more" href="#0">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="#0">
               <div class="image" style="background-image: url('https://source.unsplash.com/random/?technology')"></div>
            </a>
            <p class="date">May 3, 2019</p>
            <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique dolore vel laboriosam itaque quaerat dignissimos at ipsa sunt nisi consectetur.
            </p>
            <a class="learn-more" href="#0">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="#0">
               <div class="image" style="background-image: url('https://source.unsplash.com/random/?technology')"></div>
            </a>
            <p class="date">May 3, 2019</p>
            <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique dolore vel laboriosam itaque quaerat dignissimos at ipsa sunt nisi consectetur.
            </p>
            <a class="learn-more" href="#0">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="#0">
               <div class="image" style="background-image: url('https://source.unsplash.com/random/?technology')"></div>
            </a>
            <p class="date">May 3, 2019</p>
            <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique dolore vel laboriosam itaque quaerat dignissimos at ipsa sunt nisi consectetur.
            </p>
            <a class="learn-more" href="#0">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="#0">
               <div class="image" style="background-image: url('https://source.unsplash.com/random/?technology')"></div>
            </a>
            <p class="date">May 3, 2019</p>
            <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique dolore vel laboriosam itaque quaerat dignissimos at ipsa sunt nisi consectetur.
            </p>
            <a class="learn-more" href="#0">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="#0">
               <div class="image" style="background-image: url('https://source.unsplash.com/random/?technology')"></div>
            </a>
            <p class="date">May 3, 2019</p>
            <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique dolore vel laboriosam itaque quaerat dignissimos at ipsa sunt nisi consectetur.
            </p>
            <a class="learn-more" href="#0">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="#0">
               <div class="image" style="background-image: url('https://source.unsplash.com/random/?technology')"></div>
            </a>
            <p class="date">May 3, 2019</p>
            <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique dolore vel laboriosam itaque quaerat dignissimos at ipsa sunt nisi consectetur.
            </p>
            <a class="learn-more" href="#0">Learn more</a>
         </div>
         <div class="scroll_card">
            <a class="link-image" href="#0">
               <div class="image" style="background-image: url('https://source.unsplash.com/random/?technology')"></div>
            </a>
            <p class="date">May 3, 2019</p>
            <p>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique dolore vel laboriosam itaque quaerat dignissimos at ipsa sunt nisi consectetur.
            </p>
            <a class="learn-more" href="#0">Learn more</a>
         </div>
      </div>
   </div>
</div>


<%# <section class="news-container">
  <h1><strong>Cybersecurity Updates</strong></h1>

<div class="services">
        <div class="serviceBox">
            <div class="serviceBoxInner">
              <a href="https://www.bbc.co.uk/news/technology-57431987", target="_blank">
                <p>EA: Gaming giant hacked and source code stolen</p>
              </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
              <a href="https://www.bbc.co.uk/news/uk-england-tees-57433800", target="_blank">
              <p>Cost of Redcar Council cyber-attack over-estimated</p>
              </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
              <a href="https://www.bbc.co.uk/news/world-us-canada-57338896", target="_blank">
              <p>JBS: FBI says Russia-linked group hacked meat supplier</p>
              </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
              <a href="https://www.bbc.co.uk/news/technology-57173096", target="_blank">
                <p>Ransomware: Should paying hacker ransoms be illegal?</p>
              </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
              <a href="https://www.bbc.co.uk/news/business-57178503", target="_blank">
                <p>Cyber-attack hackers threaten to share US police informant data</p>              
              </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/business-57112371", target="_blank">
                <p>US fuel pipeline 'paid hackers $5m in ransom'</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
              <a href="https://www.bbc.co.uk/news/technology-57012725", target="_blank">
                <p>Spy bosses warn of cyber-attacks on smart cities</p>              
              </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
              <a href="https://www.bbc.co.uk/news/technology-57156799", target="_blank">
                <p>'Did weak wi-fi password lead the police to our door?'</p>              
              </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/world-asia-india-57210118", target="_blank">
                <p>Air India cyber-attack: Data of millions of customers compromised</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/world-us-canada-56898711", target="_blank">
                <p>Colonial Pipeline boss confirms $4.4m ransom payment</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/technology-56372188", target="_blank">
                <p>Microsoft hack: 3,000 UK email servers remain unsecured</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/technology-56859091", target="_blank">
                <p>Flubot: Warning over major Android 'package delivery' scam</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/technology-56650387", target="_blank">
                <p>Tool checks phone numbers from Facebook data breach</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/technology-56812746", target="_blank">
                <p>MI5 warns of spies using LinkedIn to trick staff into spilling secrets</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
        <div class="serviceBox">
            <div class="serviceBoxInner">
            <a href="https://www.bbc.co.uk/news/technology-56429204", target="_blank">
                <p>Teen 'mastermind' pleads guilty to celeb Twitter hack</p>            
            </a>
            </div>
            <!--service box inner -->
        </div>
        <!--service box -->
    </div>
</section> %>



























