<%= render 'shared/navbar' %>


<div class="main-page-container">

  <div class="search-container">
  <div>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div id="url-search">
        <div>
          <h1 class="text-white font-weight-bolder">Diagnode</h1>
          <div class="url-sign">
            <h4>An online vulnerability <strong>scanner</strong> that finds cyber security <strong>weaknesses</strong> in your digital infrastructure, to <strong>avoid</strong> costly data breaches.</h4>
            <br>
            <h4>Insert your URL below.</h4>
          </div>
        </div>
        <div>
          <%= render "shared/searchurl" %>
        </div>
      </div>

  </div>
    </div>
</div>

<div id="chartdiv"></div>
<div class="banner-title">
  <h1 class="text-white banner-title-text">
  Live Threat Map
  </h1>
</div>

<div class="banner-image-container">

  <div id="info-container">

    <div class="content_container">
      <div class="overlay"></div>
      <div class="promo-block security">
        <div class="promo-inner block">
          <i class="fas fa-briefcase promo-icons"></i>

          <h3 class="header-small">Small Business</h3>
          <div class="promo-text">
            Prevent data breaches and increase customer trust with continous cyber protection
          </div>
          <br>
          <button type="button" class="btn promo-btn btn-outline-light shadow-sm">Read more</button>
        </div>
      </div>
    </div>

    <div class="content_container">
      <div class="overlay"></div>
      <div class="promo-block security">
        <div class="promo-inner block">
          <i class="fas fa-file-code promo-icons"></i>

          <h3 class="header-small">Developers</h3>
          <div class="promo-text">
            Build safer applications by integrating cyber security into your software development cycle
          </div>
          <br>
          <button type="button" class="btn promo-btn btn-outline-light shadow-sm">Read more</button>
        </div>
      </div>
    </div>

    <div class="content_container">
      <div class="overlay"></div>
      <div class="promo-block security">
        <div class="promo-inner block">
          <i class="fas fa-space-shuttle promo-icons"></i>

          <h3 class="header-small">Security Teams</h3>
          <div class="promo-text">
            Save time by focusing on what truly matters, and reduce friction with development processes
          </div>
          <br>
          <button type="button" class="btn promo-btn btn-outline-light shadow-sm">Read more</button>
        </div>
      </div>
    </div>
  </div>

</div>


    <div class="news-container">
        <h1><strong>Cybersecurity Updates</strong></h1>
      <div class="news-card">
          <div class="cyber-btn">
            <a href="https://www.bbc.co.uk/news/technology-57431987", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/E161/production/_118879675_gettyimages-1232488126.jpg" class="img-news">
            </a>
            <a href="https://www.bbc.co.uk/news/uk-england-tees-57433800", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/E6D9/production/_118879095_eredc.png" class="img-news">
            </a>
            <a href="https://www.bbc.co.uk/news/world-us-canada-57338896", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/13144/production/_118784187_067315709.jpg" class="img-news">
            </a>
            <a href="https://www.bbc.co.uk/news/technology-57173096", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/2857/production/_118572301_screenshot2021-05-19at14.42.44.png" class="img-news">
            </a>
            <a href="https://www.bbc.co.uk/news/business-57178503", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/1525A/production/_118481668_gettyimages-1232825380.jpg" class="img-news">
            </a>
            <a href="https://www.bbc.co.uk/news/business-57112371", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/14A28/production/_118502548_colonial-pipeline3.jpg" class="img-news">
            </a>
            <a href="https://www.bbc.co.uk/news/technology-57012725", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/2831/production/_118398201_smartcity2.jpg" class="img-news">
            </a>
            <a href="https://www.bbc.co.uk/news/technology-57156799", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/26CA/production/_118603990_router-1.jpg" class="img-news">
            </a>
            <a href="https://www.bbc.co.uk/news/world-asia-india-57210118", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/17765/production/_118610169_gettyimages-1197122310.jpg" class="img-news">
            </a>
            <a href="https://www.bbc.co.uk/news/world-us-canada-56898711", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/172C0/production/_118221949_gettyimages-456028116-1.jpg" class="img-news">
            </a>
            <a href="https://www.bbc.co.uk/news/technology-56372188", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/16A70/production/_117548729_microsoft-emails-2-1.jpg" class="img-news">
            </a>
            <a href="https://www.bbc.co.uk/news/technology-56859091", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/1410A/production/_118168128_gettyimages-1229893442.jpg" class="img-news">
            </a>
            <a href="https://www.bbc.co.uk/news/technology-56650387", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/769D/production/_117856303_hi045062201.jpg" class="img-news">
            </a>
            <a href="https://www.bbc.co.uk/news/technology-56812746", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/12900/production/_118123067_faceoff.jpg" class="img-news">
            </a>
            <a href="https://www.bbc.co.uk/news/technology-56429204", target="_blank" class="cyber-btn_btn">
              <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/668A/production/_117605262_hackertwittere-1.png" class="img-news">
            </a>
        </div>
      </div>
    </div>


























