

  #products-index-page {
    display: flex;
  }
  
  .products-index-container {
    width: 55%;
    flex-grow: 1;
    background-color: #11698e;
  }
  
  .marketplace-container{
    
 }
  
  .product-info-index-page {
    width: 60%;
    text-align: left;
    margin: 8px;
    margin-left: 16px;
  }
  
  .product-price-index-page {
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 0;
    p {
      margin: 0;
    }
  }
  
  .filter-container {
    position: sticky;
    height: 100vh;
    top: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .filters {
    display: block;
    margin: 16px 0;
    text-decoration: none !important;
    color: #11698e;
  }

  .active-filter{
    color:brown;
    font-weight: bold;
  }
  

