@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.products-index-container {
  width: 55%;
  flex-grow: 1;
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
}

.marketplace-container {
  margin-top: 60px;
}

.filter-container {
  position: sticky;
  height: 100vh;
  max-width: 250px;
  top: 0;
  padding: 5px;
  padding-left: 15px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  border-right: solid 10px #171c47;
}

.category-header {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #171c47;
}

.filter-category-menu {
  margin-left: 10px;
}

.filters {
  p {
    display: block;
    max-width: 180px;
    padding-bottom: 8px;
    margin: 10px 0;
    text-decoration: none !important;
    color: #47597E;
  }
  &:hover {
    font-weight: bold;
  }
}

.form-control {
  border: solid 1px #47597E;
  color: #47597E;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.price-filter {
  display: block;
  max-width: 180px;
  padding-bottom: 8px;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0;
  color: #47597E;
  &:hover {
    font-weight: bold;
  }
}

.active-filter{
  border-bottom: solid 1px #47597E;
  font-family: 'Montserrat', sans-serif;
  color:#47597E;
  font-weight: bold;
  p {
    border-bottom: solid 1px #47597E;
    color:#47597E;
    font-weight: bold;
  }
}

.products-index-search-button {
  text-decoration: none;
  padding: 5px 10px;
  background-color: white;
  margin-top: 5px;
  border-radius: 2px;
  border: solid 1px #47597E;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #47597E;
  margin-bottom: 10px;
  transition: 0.3s;
  &:hover {
    background-color: #47597E;
    color: white;
  }
}

.products-index-page-card-container {
  display: flex;
  width: 100%;
  position: relative;
  p {
    color: #454545;
    font-family: 'Montserrat', sans-serif;
  }
}

.products-index-page-card-image {
  max-height: 90%;
  max-width: 40%;
  border-radius: 8px;
  margin: 16px;
  img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px;
  }
}

.products-index-page-card-content {
  width: 50%;
  padding-top: 4px;
  margin-left: 14px;
  p {
    margin-right: 0px;
    width: 90%;
  }
}

#products-index-price {
  position: absolute;
  bottom: 32px;
  right: 160px;
  text-decoration: none;
  h6 {
    margin: 0;
    padding: 2px;
    color: #454545;
    font-family: 'Montserrat', sans-serif;
  }
}

#products-index-add {
  position: absolute;
  text-decoration: none;
  margin: 0;
  padding: 8px 16px;
  background-color: #ffc659;
  color: white;
  bottom: 24px;
  right: 24px;
  border-radius: 2px;
  &:hover {
    background-color: #ffc419;
  }
}
