.navbar-lewagon {
  justify-content: space-between;
  // background: #eff1f3;
  background: rgba(197,222,255, 0.05);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  z-index: 100;
  top: 0;
  margin-top: 0;
  height: 65px;
  --ease: all 300ms ease;
  transition: var(--ease);
}

.fade-in { 
  background: rgba(2, 6, 50, 1)
}

#logo-icon {
  font-size: 20px;
}

.navbar-lewagon > *:hover {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.my-nav-cart {
  font-size: 20px;
}

#logo-icon:hover,
.my-nav-cart:hover,
#nav-logo-text:hover {
  color: #eee !important;
  transition: 400ms;
  transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.navbar-hide {
  pointer-events: none;
  opacity: 0.2;
}
