
.outer {
  position: relative;
  background: #fff;
  height: 350px;
  width: 1000px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.content {
  margin-top: 50px;
  margin-left: 85px;
}

.cyber-image {
  margin-left: 20px;
  margin-top: 50px;
  height: 230px;
  z-index: 0;
  animation-delay: 0.5s;
}

.cart-btn {
  animation-delay: 0.3s;
  position: absolute;
  right: -20px;
  z-index: 3;
  margin-left: 10px;
}

h1 {
  color: #111;
}

p {
  width: 280px;
  font-size: 13px;
  line-height: 1.4;
  color: #aaa;
  margin: 20px 0;

}

.bg {
  display: inline-block;
  color: #fff;
  background: cornflowerblue;
  padding: 5px 10px;
  margin-top: 35px;
  margin-left: 20px;
  position: absolute;
  top: 0;
}
.button {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;



}

.button a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-size: 11px;
  color: #111;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #aaa;
  font-weight: bold;


}

.button a:after{
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0%;
  background: #111;
  height: 100%;
  z-index: -1;
  transition: width 0.3s ease-in-out;
  transform: skew(-25deg);
  transform-origin: right;
}

.button a:hover:after {
  width: 150%;
  left: -10px;
  transform-origin: left;

}

.button a:hover {
  color: #fff;
  transition: all 0.5s ease;
}


.cart-icon {
  padding-right: 8px;

}







































