/*SERVICES */

.services {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  position: relative;

}

.serviceBox {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 25px;
  border: solid 3px rgba(100, 100, 100, 0.8);
  position: relative;
}

// .serviceBox:hover {
//   filter: bright;
// }

.serviceBox:first-child {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/E161/production/_118879675_gettyimages-1232488126.jpg");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
  
}

.serviceBox:nth-child(2) {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/E6D9/production/_118879095_eredc.png");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
}

.serviceBox:nth-child(3) {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/13144/production/_118784187_067315709.jpg");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
}

.serviceBox:nth-child(4) {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/2857/production/_118572301_screenshot2021-05-19at14.42.44.png");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
}

.serviceBox:nth-child(5) {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/1525A/production/_118481668_gettyimages-1232825380.jpg");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
}

.serviceBox:nth-child(6) {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/14A28/production/_118502548_colonial-pipeline3.jpg");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
}

.serviceBox:nth-child(7) {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/2831/production/_118398201_smartcity2.jpg");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
}

.serviceBox:nth-child(8) {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/26CA/production/_118603990_router-1.jpg");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
}

.serviceBox:nth-child(9) {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/17765/production/_118610169_gettyimages-1197122310.jpg");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
}

.serviceBox:nth-child(10) {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/172C0/production/_118221949_gettyimages-456028116-1.jpg");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
}

.serviceBox:nth-child(11) {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/16A70/production/_117548729_microsoft-emails-2-1.jpg");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
}

.serviceBox:nth-child(12) {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/1410A/production/_118168128_gettyimages-1229893442.jpg");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
}

.serviceBox:nth-child(13) {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/769D/production/_117856303_hi045062201.jpg");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
}

.serviceBox:nth-child(14) {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/12900/production/_118123067_faceoff.jpg");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
}

.serviceBox:nth-child(15) {
  background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://ichef.bbci.co.uk/news/976/cpsprodpb/668A/production/_117605262_hackertwittere-1.png");
  background-size: cover;
  width: 175px;
  height: 140px;
  border-radius: 20px;
}

.serviceBoxInner {
  height: 30px;
  width: 20rem;
  display: flex;
  justify-content: center;
  text-align: center;
  word-break: normal;
  overflow-wrap: normal;
}

.serviceBoxInner a p {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 5px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  z-index: 10;
  box-shadow:
      12px 12px 16px 0 rgba(100, 100, 100, 0.1) inset,
      -8px -8px 12px 0 rgba(0, 0, 0, .35) inset;
}

.serviceBoxInner a {
  text-decoration: none;
}